PORT=5005
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_key_here

# SMTP Configuration for Order Notifications
SMTP_USER=harsatharts2005@gmail.com
SMTP_PASS=zzeu wavq vkfv dihx
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
ADMIN_EMAIL=harsatharts2005@gmail.com
DASHBOARD_URL=https://admin1-jet.vercel.app/
